/* roboto flex font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');


* {
  font-family: 'Roboto Flex', sans-serif;

}

.title {
  font-family: 'Smooch', cursive;
}

.spinner-container {
  height: 85vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.warning {
  color: red;
}

.reset-link {
  color: blue;
  cursor: pointer;
}

.toggle-link {
  color: blue;
  cursor: pointer;
}